.gradient-text {
    background: #FF3289;
    background: -webkit-linear-gradient(to right, #FF3289 0%, #DB26D8 100%);
    background: -moz-linear-gradient(to right, #FF3289 0%, #DB26D8 100%);
    background: linear-gradient(to right, #FF3289 0%, #DB26D8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }